.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 400px;
}