<div class="dialog-container">
    <h1 mat-dialog-title>Add Task</h1>

    <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Task name...</mat-label>
        <input matInput placeholder="Task name...">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Select color</mat-label>
        <mat-select>
            <mat-option value="one">Yellow</mat-option>
            <mat-option value="two">Green</mat-option>
            <mat-option value="three">Blue</mat-option>
            <mat-option value="four">Red</mat-option>
            <mat-option value="five">Orange</mat-option>
            <mat-option value="six">Purple</mat-option>
            <mat-option value="seven">Magenta</mat-option>
            <mat-option value="eight">Cyan</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Assign user</mat-label>
        <mat-select>
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>


</div>